build
.vscode
.DS_Store
data/*
!data/BOUT.inp
reference
notebooks
!notebooks/plot_output.ipynb
!notebooks/analysis.py
*.gif
umanksy_code
*.dmp*
*.pid*
*.restart*
*.log*
*.settings*
*.pyc
BOUT.inp 
!data/BOUT.inp